openapi: 3.0.0
info:
  title: Stock Trading API
  version: 1.0.0
  description: API for handling stock trading transactions.
servers:
  - url: https://api.stocktrading.com
paths:
  /accounts:
    post:
      summary: Create a new trading account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
      responses:
        '201':
          description: Account created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '400':
          description: Invalid request data
  /orders:
    post:
      summary: Place a new order
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order'
      responses:
        '201':
          description: Order placed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: Invalid request data
        '403':
          description: Insufficient funds
    get:
      summary: Retrieve a list of orders
      parameters:
        - in: query
          name: status
          schema:
            type: string
            enum: [open, filled, canceled]
      responses:
        '200':
          description: List of orders
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Order'
        '404':
          description: No orders found
    put:
      summary: Update an existing order
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order'
      responses:
        '200':
          description: Order updated successfully
        '404':
          description: Order not found
    delete:
      summary: Cancel an existing order
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order'
      responses:
        '200':
          description: Order canceled successfully
        '404':
          description: Order not found
  /accounts/{accountId}:
    get:
      summary: Retrieve details of a specific account
      parameters:
        - in: path
          name: accountId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Account details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '404':
          description: Account not found
components:
  schemas:
    Account:
      type: object
      properties:
        accountId:
          type: string
        balance:
          type: number
        userId:
          type: string
      required:
        - accountId
        - balance
        - userId
    Order:
      type: object
      properties:
        orderId:
          type: string
        symbol:
          type: string
        quantity:
          type: number
        type:
          type: string
          enum: [buy, sell]
        status:
          type: string
          enum: [open, filled, canceled]
        accountId:
          type: string
      required:
        - orderId
        - symbol
        - quantity
        - type
        - status
        - accountId

